* {
    font-family: 'Montserrat', sans-serif;
    /* margin: 0 10 0 8;
    padding: 0 10 0 5; */
    box-sizing: border-box;
}

.add_btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    margin: 1px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.add_btn img {
    height: 20px;
    width: 20px;
}

.add_btn:hover {
    background-color: #3e8e41;
}

body {
    /* background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%); */
    background: linear-gradient(45deg, #009d7e, #620774, #000000, #8aff1d);
    background-size: 450% 450%;
    animation: gradient 25s ease infinite;
    font-size: 12px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* nav {
    background: pink;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 25px 20px -20px rgba(0, 0, 0, 0.4);
} */

ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 32px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
}

ul li:hover::after {
    top: 50%;
    opacity: 1;
}

select {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}
option {
    text-decoration: none;
    border-radius: 10px;
}

.table__header {
    width: 100%;
    height: 7%;
    border-radius: 7px;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content:left;
    align-items: center;
}

.table__body {
    width: 100%;
    max-height: calc(90% - 1.2rem);
    background-color: #fffb;

    margin: .5rem auto;
    border-radius: .6rem;

    overflow:auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}



/* td img {
    width: 30px;
    height: auto;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
} */

table, th, td {
    border-collapse: collapse;
    padding: 1.5rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

thead th:hover {
    color: #6c00bd;
}

/* 
tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
} 

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}



thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #14ca00;
} */
